*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html{
    background-image: url(./images/background.png);
    background-size:auto;
    background-repeat: no-repeat;
    background-position: center;
    height: 500px;
}

.hidden{
    display: none;
}

.container{
    max-width: 1024px;
    margin: 0 auto;
    position: static;
}

.cabecalho__navegacao{
    max-width: 400px;
    margin: 0 auto;
}

.cabecalho__lista{
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin-top: 80px;
}

.cabecalho__lista__item{
    padding: 0px 10px;
    border-bottom: 3px solid transparent;
    padding-top: 5px;
}

h1{
    color: #fff;
}


/* BARRA BOTTOM -- ITEM ATIVO */
.cabecalho__lista__item--active{
    border-bottom: 3px solid #F8A000;
    padding-bottom: 5px;
}



.cabecalho__lista__item a{
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 16px;
    color: #000;
    font-weight: bold;
}

.cabecalho__lista__item a:hover{
    color: #000;
}

.cabecalho__lista__item img{
    width: 30px;
    margin-right: 5px;
}

.cabecalho__info{
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 690px;
    margin: 0 auto;
    margin-top: 110px;
    padding-bottom: 40px;
}



.cabecalho__info__text p{
    line-height: 30px;
    font-size: 20px;
    margin-top: 20px;
    font-weight: 700;
}

.cabecalho__info__img{
    text-align: end;
}

.cabecalho__info__img img{ 
    width: 200px;
}

/* projetos */

.projetos__text{
    margin-top: 50px;
    text-align: center;
}

.github{
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.projetos__list{
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin-top: 60px;
}

.projetos__list__item{
    text-align: center;
}

.projetos__list__item img {
    width: 250px;
    height: 150px;  
    box-shadow: rgba(204, 204, 204, 0.801) -20px 20px 2px 5px;
}

.projetos__list__item h3{
    font-weight: normal;
    margin-bottom: 20px;
    font-size: 18px;
}

.projetos__list__item a{
    color: #000;
    text-decoration: none;
    font-weight: normal;
}

/* SOBRE MIM */

.about__container{
    display: flex;
    position: static;
}

.about__container__social__logo, .logo{
    transition: transform 0.3s ease;
}

.about__container__social__logo:hover, .logo:hover{
    transform: scale(1.1);
}



.about__text{
    text-align: center;
    margin-top: 40px;
}

.about__text h2{
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 20px;
    color: #fff;
}

.about__text p {
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
    width: 500px;
    margin: 0 auto;
}

.about__container__social{
    position: fixed;
    bottom: 30px; 
    left: 40px;
}

.about__container__social img{
    height: 30px;
    margin: 10px;
}

.about__container{
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    text-align: center;
}

.about__container__languages{
    margin-top: 20px;
}

.about__container__languages h3{
    font-weight: normal;
    font-size: 16px;
}

.barra__nivel{
    width: 300px;
    height: 5px;
    background-color: rgba(0, 0, 0, 0.589);
    margin: 10px 0px;
}

.barra__intra__front{
    width: 200px;
    height: 5px;
    background-color: #f8be00;
    margin: 10px 0px;
}

.barra__intra__js{
    width: 130px;
    height: 5px;
    background-color:#f8be00;
    margin: 10px 0px;
}

.barra__intra__bancoDeDados{
    width: 50px;
    height: 5px;
    background-color:#f8be00;
    margin: 10px 0px;
}

.barra__intra__php{
    width: 50px;
    height: 5px;
    background-color: #f8be00;
    margin: 10px 0px;
}

.footer{
    position: fixed;
    bottom: 10px;
    left: 44.6%;
    opacity: .7;
    font-size: 12px;
}


@media (max-width:640px) {

    html{
        background-image: url(./images/background\ mobile.png);
        background-repeat: no-repeat;
        background-size:600px;
        background-position: center; 
    }

    .cabecalho__lista{
        width: 100px;
        margin: 0 auto;
    }

    .cabecalho__lista{
        display: block;
        margin-top: 20px;
    }

    .cabecalho__lista__item{
        padding-top: 10px;
        height: 43px;
    }

    .cabecalho__lista__item--active{
        border-bottom: 3px solid #ffffff;
        padding-bottom: 5px;
        width: 100%;
        padding-top: 10px;
    }

    .logo{
        justify-content: center;
    }

    .logo img{
        height: 25px;
        width: 25px;
    }

    .cabecalho__info{
        display: block;
        margin-top: 40px;
    }

    .cabecalho__info__text{
        text-align: center;
        font-size:15px;
        margin-bottom: 40px;
    }

    .cabecalho__info__text p{
        font-size: 15px;
        width: 200px;
        line-height: normal;
        margin: 0 auto;
    }

    .cabecalho__info__img{
        text-align: center;
    }

    .footer{
        display: none;
    }

    .projetos__list{
        display: block;
    }

    .projetos__text{
        font-size: 15px;
        width: 200px;
        margin: 0 auto;
        margin-top: 30px;
    }

    .projetos__list{
        margin-top: 10px;
    }

    .projetos__list__item img{
        width: 200px;
        box-shadow: none;
    }

    .projetos__list__item h3{
        margin-top: 5px;
        margin-bottom: 2px;
        visibility:hidden;
    }

    .last__item{
        margin-bottom: 40px;
    }


    .about{
        height: 700px;
    }

    .about__text{
        margin: 0 auto;
    }

    .about__text h2{
        font-size: 20px;
    }

    .about__text p{
        font-size: 15px;
        width: 200px;
        line-height: normal;
    }

    .about__container__languages h3{
        font-weight: bold;
    }

    .about__container__social{
        position: absolute;
        top: 580px;
        left: 96px;
        width: 300px;
        }

    .about__container__social img{
        height: 20px;
    }

    .about__container__languages{
        color: #fff;
    }

    .barra__intra__front{
        width: 200px;
        height: 5px;
        background-color: #ffffff;
        margin: 10px 0px;
    }
    
    .barra__intra__js{
        width: 130px;
        height: 5px;
        background-color:#ffffff;
        margin: 10px 0px;
    }
    
    .barra__intra__bancoDeDados{
        width: 50px;
        height: 5px;
        background-color:#ffffff;
        margin: 10px 0px;
    }
    
    .barra__intra__php{
        width: 50px;
        height: 5px;
        background-color: #ffffff;
        margin: 10px 0px;
    }
}

